<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset = "UTF-8">
	<title>Thêm Địa Chỉ</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	
	<h2>Thêm Địa Chỉ</h2>
	
	<form action="/address/save" method="post">
		<table>
			<tr>
				<td>Thành phố: </td>
				<td><input id="city" type="text" name="city" required></td>
			</tr>
			<tr>
				<td>province: </td>
				<td><input id="province" type="text" name="province" required></td>
			</tr>
		</table>
		
		<button id="save" type="button">Lưu</button>
		<a href="/address">Hủy</a>
		<button id="load-du-lieu">Load</button>
	</form>
	<script type="text/javascript">
	 $(document).ready(function() {
	        $('#load-du-lieu').click(function(e) {
	            e.preventDefault();
	            $.ajax({
	                url: '/api/address',
	                type: 'GET',
	                dataType: 'json',
	            }).done(function(ketqua) {
	                console.log(ketqua);
	            });
	            
	        });
	        
	        $('#save').click(function(e) {
	            e.preventDefault();
	            $.ajax({
	                url: '/api/address',
	                type: 'POST',
	                contentType: 'application/json',  
	                dataType: 'json',
	                data: JSON.stringify({
	                	id: 6,
	                    city: $("#city").val(),
	                    province: $("#province").val()
	                }),
	            }).done(function(ketqua) {
	                console.log(ketqua);
	            });
	            
	        });
	    });	
	</script>
</body>
</html>