<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Thêm Nhân Viên</title>
	<style>
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #000000;
            border-radius: 3px;
            background-color: #f8f9fa;
            font-size: 16px;
            
        }

    </style>
</head>

<body>
	<h2>Thêm Nhân Viên</h2>
	<form th:action="@{/employee/save}" th:object="${Employee}" method="post">
		<table>
			<tr>
				<td>Họ và tên: </td>
				<td><input type="text" th:field="*{name}"/></td>
			</tr>
			<tr>
				<td>Email: </td>
				<td><input type="email" th:field="*{email}"/></td>
			</tr>
			<tr>
				<td>Số điện thoại: </td>
				<td><input type="text" th:field="*{phone}"/></td>
			</tr>
			<tr>
				<td>Địa chỉ: </td>
				<td>
					<select id="addressId"></select>
				</td>
			</tr>
		</table>
		
		<button type="submit">Lưu</button>
		<a th:href="@{/list}">Hủy</a>
	</form>
	<script>
    $(document).ready(function() {
        $.get("/api/employee/address", function(data) {
            let dropdown = $("#addressId");
            dropdown.empty();
            $.each(data, function(index, address) {
                dropdown.append(`<option value="${address.id}">${address.city}, ${address.province}</option>`);
            });
        });
    }
    </script>
</body>
</html>