<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Thêm Nhân Viên</title>
</head>

<body>
	<h2>Thêm Nhân Viên</h2>
	<form th:action="@{/employee/save}" th:object="${Employee}" method="post">
		<table>
			<tr>
				<td>Họ và tên: </td>
				<td><input type="text" th:field="*{name}"/></td>
			</tr>
			<tr>
				<td>Email: </td>
				<td><input type="email" th:field="*{email}"/></td>
			</tr>
			<tr>
				<td>Số điện thoại: </td>
				<td><input type="text" th:field="*{phone}"/></td>
			</tr>
			<tr>
				<td>Địa chỉ: </td>
				<td><input type="text" th:field="*{address}"/></td>
			</tr>
		</table>
		<button type="submit">Lưu</button>
		<a th:href="employee">Hủy</a>
	</form>
	
	

</body>
</html>