<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">
	<title>Danh sách địa chỉ</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

	<h2>Danh sách địa chỉ</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>Thành Phố</th>
			<th>Tỉnh</th>
			<th>Ghi chú</th>
		</tr>
		<tr th:each="address : ${address}">
			<td th:text="${address.id}"></td>
			<td th:text="${address.city}"></td>
			<td th:text="${address.province}"></td>
			<td>
				<a th:href="@{/address/edit/{id}(id=${address.id})}">Sửa</a>
				<a id="delete" href="#" th:data-id="${address.id}">Xóa</a>
			</td>
			
		</tr>
	</table>
	
	<a href="/address/add">Thêm mới</a>
	<script type="text/javascript">
	 $('#delete').click(function(e) {
         e.preventDefault();
         let clickedId = $(this).attr('data-id');
         $.ajax({
             url: '/api/address/' +clickedId,
             type: 'DELETE',
             contentType: 'application/json',  
             dataType: 'json',
             success: function(response) {
                 console.log("Xóa thành công!", response);
             },
             error: function(xhr, status, error) {
                 console.log("Lỗi khi xóa:", error);
             }
         });
         
     });
	</script>

</body>
</html>