<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">
	<title>Danh sách địa chỉ</title>
</head>

<body>

	<h2>Danh sách địa chỉ</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>Thành Phố</th>
			<th>Tỉnh</th>
			<th>Ghi chú</th>
		</tr>
		<tr th:each="address : ${address}">
			<td th:text="${address.id}"></td>
			<td th:text="${address.city}"></td>
			<td th:text="${address.province}"></td>
			<td>
				<a th:href="@{/address/edit/{id}(id=${address.id})}">Sửa</a>
				<a th:href="@{/address/delete/{id}(id=${address.id})}">Xóa</a>
			</td>
			
		</tr>
	</table>
	
	<a href="/address/add">Thêm mới</a>

</body>
</html>