<!DOCTYPE html>
<html>
<head>

	<meta charset = "UTF-8">
	<title>Chỉnh Sửa Thông Tin Nhân Viên</title>
	<style>
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #000000;
            border-radius: 3px;
            background-color: #f8f9fa;
            font-size: 16px;
            
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	
	<form id="editAddressForm" th:action="@{/employee/update}" th:object="${Employee}" method="post">
		<input type="hidden" th:field="*{id}"/>
		<table>
			<tr>
				<td>Họ và tên: </td>
				<td><input type="text" th:field="*{name}"/></td>
			</tr>
			<tr>
				<td>Email: </td>
				<td><input type="email" th:field="*{email}"/></td>
			</tr>
			<tr>
				<td>Số điện thoại: </td>
				<td><input type="text" th:field="*{phone}"/></td>
			</tr>
			<tr>
				<td>Địa chỉ: </td>
				<td>
					<select id="addressId" th:field="*{address1.id}" ></select>		
				</td>
			</tr>
			
		</table>
		
		<button type="submit">Cập Nhật</button>
		<a th:href="@{/list}">Hủy</a>
	</form>
	<script>
	  $(document).ready(function() {
	        $.get("/api/address", function(data) {
	            let dropdown = $("#addressId");
	            dropdown.empty();
	            $.each(data, function(index, address) {
	                dropdown.append(`<option value="${address.id}">${address.city}, ${address.province}</option>`);
	            });
	        });
	        
	    });  
	   
	</script>
</body>
</html>