<!DOCTYPE html>
<html>
<head>

	<meta charset = "UTF-8">
	<title>Chỉnh Sửa Thông Tin Nhân Viên</title>
	
</head>
<body>
	
	<form th:action="@{/employee/update}" th:object="${Employee}" method="post">
	<input type="text" th:field="*{id}"/ hidden>
		<table>
			<tr>
				<td>Họ và tên: </td>
				<td><input type="text" th:field="*{name}"/></td>
			</tr>
			<tr>
				<td>Email: </td>
				<td><input type="email" th:field="*{email}"/></td>
			</tr>
			<tr>
				<td>Số điện thoại: </td>
				<td><input type="text" th:field="*{phone}"/></td>
			</tr>
			<tr>
				<td>Địa chỉ: </td>
				<td><input type="text" th:field="*{address}"/></td>
			</tr>
			
		</table>
		
		<button type="submit">Cập Nhật</button>
	</form>
</body>
</html>